@font-face {
  font-family: "iconfont"; /* Project id 2728739 */
  src: url("//at.alicdn.com/t/font_2728739_uxgvekiffhr.woff2?t=1633353252788")
      format("woff2"),
    url("//at.alicdn.com/t/font_2728739_uxgvekiffhr.woff?t=1633353252788")
      format("woff"),
    url("//at.alicdn.com/t/font_2728739_uxgvekiffhr.ttf?t=1633353252788")
      format("truetype");
  /* src: url('my_fonts/font_2728739_qtgqeqliv2e.woff2?t=1631257484445') format('woff2'),
       url('my_fonts/font_2728739_qtgqeqliv2e.woff?t=1631257484445') format('woff'),
       url('my_fonts/font_2728739_qtgqeqliv2e.ttf?t=1631257484445') format('truetype'); */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  color: #d4237a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Right:before {
  content: "\e61d";
  font-size: 32px;
}
.icon-Right:hover {
  color: aqua;
}
.icon-Left:before {
  content: "\e61e";
  font-size: 32px;
}
.icon-Left:hover {
  color: aqua;
}
.icon-guidang:before {
  content: "\e671";
  font-size: 20px;
}

.icon-biaoqian:before {
  content: "\e6a1";
  font-size: 20px;
}

.icon-top_icon_anno-copy:before {
  content: "\e884";
  font-size: 26px;
  color: #276cda;
}

.icon-sousuo3:before {
  content: "\e601";
}

.icon-qq:before {
  content: "\e61c";
}

.icon-rss:before {
  content: "\e883";
}

.icon-github:before {
  content: "\e629";
}

.icon-zhihu:before {
  content: "\e69c";
}

.icon-icon_bilibili-circle:before {
  content: "\e600";
}
