/* ---------------------------------
 *      自定义修饰样式
 * --------------------------------- */
body,
.widget,
.footer,
.navbar-main,
.card,
.hljs,
.aplayer {
  background-color: rgba(255,255,255,0.812);
}
.navbar-main .navbar-menu .navbar-item:hover,
.navbar-main .navbar-menu .navbar-item.is-active {
  color: $blue;
  background-color: rgba(251,114,153,0.302);
}
/* 文章图片居中 */
.article .content a img {
  margin: auto;
  display: block;
}
/* sharejs图标位置居中 */
.social-share {
  text-align: center;
}
/* toc 目录滚动 */
.toc-scroll {
  max-height: 500px;
  overflow: auto;
}
#toc {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0.75rem;
}
/* 头像翻转 */
.level img {
  border-radius: 100px;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.level figure img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
/* 页脚方框大小*/
.footer {
  padding: 2rem 1.5rem 3rem;
}
/* 方盒子内边距由1.5 调整为 1 */
.card-content {
  padding: 1rem;
}
/* 标签页修饰 */
a:hover {
  color: #d4237a !important;
}
/* 广告位 */
.g-ads-x,
.g-ads-y,
.google-auto-placed {
  filter: brightness(0.8) !important;
}
.friend-title-item {
  text-align: left;
  font-size: 1.25em;
}
.friend-card-item {
  width: 32%;
  border-radius: 2px;
  color: #4a4a4a;
  padding: 0.5rem;
  display: inline-block;
  margin: 5px;
  margin-top: 15px;
/*img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }*/
}
.friend-card-item .text-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friend-card-item .ava {
  width: 5rem !important;
  height: 5rem !important;
  margin: 0 !important;
  margin-right: 0.2em !important;
  border-radius: 40px;
}
.friend-card-item img {
  float: left;
}
.friend-card-item:hover {
  transform: scale(0.995);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
}
.content blockquote {
  background-color: #f5f5f5;
  border-left: 3px solid #6190e8;
  padding: 1em 1em;
  overflow: auto;
}
/* 代码雨 */
/*canvas {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -1;
}*/
/* aplayer侧边隐藏*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0px !important;
}
/*aplayer歌词*/
.aplayer.aplayer-fixed .aplayer-lrc {
  display: block;
  position: fixed;
  bottom: 20px !important;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 0 !important;
  pointer-events: none;
  text-shadow: 0px 0px 0 #d4237a !important;
}
